<!DOCTYPE html>
<html>
	<head></head>
	<body>

		<!-- ********** LOGIN ********** -->

		<ul data-bind="foreach: players, visible: players().length > 0">
			<li>
				<span data-bind="text: player.firstname"></span>
				<span data-bind="text: player.lastname"></span>
			</li>
		</ul>

		<!-- ********** ADD PLAYER ********** -->

		<form data-bind="submit: addPlayer">
			First name <input type="text" data-bind="value: newPlayer.firstName">
			Last name <input type="text" data-bind="value: newPlayer.lastName">
			Sex <input type="text" data-bind="value: newPlayer.sex">
			Stableford <input type="text" data-bind="value: newPlayer.stableford">
		</form>
		<button type="submit">Add</button>

		<!-- ********** SCRIPTS ********** -->

	    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
	    <script src="http://cdnjs.cloudflare.com/ajax/libs/knockout/2.2.0/knockout-min.js"></script>
	    <script src="{{ url_for('static', filename='app.js') }}"></script>

	</body>
</html>