<!DOCTYPE html>
<html>
	<head></head>
	<body>

		<!-- ********** LOGIN ********** -->

		<ul data-bind="foreach: players, visible: players().length > 0">
			<li>
				<a href="golf_courses.html">
					<button on-click="alert('todo login feature');">
						<span data-bind="text: firstName"></span>
						<span data-bind="text: lastName"></span>
					</button>
				</a>
			</li>
		</ul>

		<!-- ********** ADD PLAYER ********** -->

		<h2>Add a player</h2>

		<form data-bind="submit: addPlayer">
			<!-- First name <input data-bind="value: newPlayer.firstName()">
			Last name <input data-bind="value: newPlayer.lastName()">
			Sex <input data-bind="value: newPlayer.sex()">
			Stableford <input data-bind="value: newPlayer.stableford()"> -->
			First name <input data-bind="value: newPlayerFirstName">
			Last name <input data-bind="value: newPlayerLastName">
			Sex <input data-bind="value: newPlayerSex">
			Stableford <input data-bind="value: newPlayerStableford">
			<button type="submit">Add</button>
		</form>

		<!-- ********** SCRIPTS ********** -->

	    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
	    <script src="http://cdnjs.cloudflare.com/ajax/libs/knockout/2.2.0/knockout-min.js"></script>
	    <script src="{{ url_for('static', filename='app.js') }}"></script>

	</body>
</html>